.testimonialSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
  }
  
  .testimonialCard {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 7px;
    width: 400px;
    max-width: 400px;
    height: 330px;
  }
  
  .testimonialCard p {
    font-size: 16px;
    word-wrap: break-word;
    color: #000000;
  }
  
  .profile {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .imgProfile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .profile h3 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
    color: #000;
  }
  
  .profile p {
    margin: 0;
    font-size: 0.9rem;
   padding-top: 9px;
   
  }
  
  